@charset 'UTF-F';

body {
    background-color: rgb(70, 142, 236);
    font: normal 15pt Arial;
    text-align: center;
}

header {
    color: white;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

div {
    padding: 8px;
}

footer {
    color: rgba(255, 255, 255, 0.738);
    font-style: italic;
}