@charset 'UTF-8';

* {
    margin: 0;
    padding: 0;
}

body {
    font: normal 1em 'Arial';
    background-color: #CDBD91;
    color: #fff;
}

h1 {
    text-align: center;
    padding: 30px 0px 30px 0px;
    font-size: 40px;
}

div#containerMaior {
    background-color: #fff;
    width: 600px;
    height: 500px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.408);
}

div#containerMaior > p {
    color: #000;
    text-align: center;
    padding: 20px;
    font-size: 1.2em;
}

div#containerMaior img {
    display: block;
    margin: auto;
}

div#containerImg {
    width: auto;
    
    margin: auto;
}

body > p {
    color: #ffffff8e;
    text-align: center;
    padding: 20px;
    font-style: italic;
}