@charset 'UTF-8';

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #3F85D6;
    font-family: Arial, Helvetica, sans-serif;
}

body h1 {
    color: white;
    text-align: center;
    padding: 30px;
}

body p {
    padding: 10px;
}

div#container {
    background-color: white;
    width: 600px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.501)
}

input#botaoVerific {
    background-image: linear-gradient(to bottom, white, rgb(199, 199, 199));
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    border-color: #00000064;
    padding: 2px 4px;
    margin-left: 5px;
}

p#Copy {
    text-align: center;
    color: rgba(255, 255, 255, 0.552);
    font-style: italic;
}

img {
    display: block;
    margin: auto;
    padding: 3px 0px 15px 0px;
}